<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
      <section name="root" type="WPFCrauler.RootConfigSection, WPFCrauler" />
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="LogFolder" value="D:/Logs/"/>
  </appSettings>
    <root>
      <depth value="1"/>
      <rootResources>
        <resource href="http://fksis.bsuir.by/"/>
      </rootResources>
    </root>
</configuration>